<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		">
	
    <!-- <mvc:view-controller path="/" view-name="redirect:/test/page"/> -->
    <!-- <mvc:resources mapping="/common/**" location="/common/" />  -->
	<!-- Configures the @Controller programming model -->
    <mvc:annotation-driven/>
    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.bdms.controller,com.bdms.service,com.bdms.dao"/>
    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	        <property name="cache" value="true"/>
	        <property name="prefix" value="" />
	        <property name="suffix" value=".ftl"/>
	        <property name="exposeRequestAttributes" value="true"/>
	        <property name="exposeSessionAttributes" value="true"/>
	        <property name="exposeSpringMacroHelpers" value="true"/>
	        <property name="allowRequestOverride" value="true" />
	        <property name="contentType" value="text/html;charset=UTF-8"/>
	        <property name="requestContextAttribute" value="rc"/>
	        <property name="order" value="0"/>
    </bean>
	 <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		     <property name="order" value="1" />
		     <property name="contentNegotiationManager">
	            <bean class="org.springframework.web.accept.ContentNegotiationManager">
	                <constructor-arg>
	                    <bean class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
	                        <constructor-arg>
	                            <map>
	                                <entry key="json">
	                                    <util:constant static-field="org.springframework.http.MediaType.APPLICATION_JSON_VALUE" />
	                                </entry>
	                                <entry key="xml">
	                                    <util:constant static-field="org.springframework.http.MediaType.APPLICATION_XML_VALUE" />
	                                </entry>
	                            </map>
	                        </constructor-arg>
	                    </bean>
	                </constructor-arg>
	            </bean>
	        </property>
	        <property name="viewResolvers">
	            <list>
	                <ref bean="freeMarkerViewResolver"/>
	            </list>
	        </property>
	        <property name="defaultViews">
	            <list>
	                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
	            </list>
	        </property>
	    </bean>
</beans>